* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo {
    font-size: 55px;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-top: 40px;
    margin-left: 0px; 
    color:#fff;
    height: 60px;
    right: 100%;           
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 5px 0;
    margin: 0 10px;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover {
    color: #1ede11;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fff;
}
@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
    }
    header {
        padding: 0 30px;
    }
    .footer {
        display: none;
    }
.PIC,.Quick-About-Headm,.DS,.HS{
    text-align: center;
}
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    .PIC,.Quick-About-Headm,.DS,.HS{
        text-align: center;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #1ede11;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}
.header ul,
li {
    font-size: 20px;
    color: #fff;
 }
 ul{
    margin-top: 30px;        
    padding: 0px;
 }
 body {
    cursor: crosshair;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   background-color: #181818;
}
header{
    background-color: #181818;
}
.PIC {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    width: 450px;
    margin-top: 40px;            
    margin-left: 80px;
    float: left;
}            
.Quick-About-Head{    
    max-width: 600px;
    float: right;
    margin-top: 95px;            
    margin-right: 250px;
    color: #fff;
    margin-bottom: 5px;
}
.HS{    
    max-width: 600px;
    float: right;
    margin-top: 5px;            
    margin-right: 273px;
    color:#323232;
    margin-bottom: 5px;
}
.DS{    
    max-width: 600px;
    float: right;
    margin-top: 10px;            
    margin-right: 100px;
    color: #fff;
}
.logo a:hover{
    color: #1ede11;
}
/* 
Page Content
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    margin-top: 50px;
}
h1, h2 {
    color: #1ede11;
}
.activity {
    margin-bottom: 20px;
    background: #1d1d1d;
    padding: 20px;
    overflow: hidden;
}
.activity img {
    width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.W{
    margin-top: 25px;
}
.C{
    margin-top: 50px; 
}